
.icon-conected {
    color: rgb(5, 184, 5); 
    margin-top: 3px;
}

.mat-h1-color {
    color: rgb(153, 153, 153);
}

.mat-card-height {
    height: 460px;
}

.mat-card-width {
    width: 450px;
}


.img-plus {
    width: 70px;
    height: 70px;
}

.div-plus {
    display:flex; 
    justify-content: center;
    align-items: center;
}

.hr-border {
    border: 1px solid rgba(241, 241, 241, 0.562);
}

li {
    list-style: none;
    display: inline-block;
}

.list {
    position: relative;
    padding: 0;
    display: inline-block;
}

.list li {
    border: 4px solid transparent ;
}

textarea{
    height: 40px; 
    max-height: 40px;
}
