
.icon-conected {
    color: rgb(5, 184, 5); 
    margin-top: 3px;
}

.mat-h1-color {
    color: rgb(153, 153, 153);
}

.mat-card-height {
    height: 560px;
}


.img-plus {
    width: 70px;
    height: 70px;
}

.div-plus {
    display:flex; 
    justify-content: center;
    align-items: center;
}