<div class="container-fluid">


    <div *ngIf="!selectChest">
        <div class="row text-center mt-5">
            <div class="col">
                <img src='/assets/cofre-los-santos.png' style="width: 300px; height: auto;" (click)="selectChest = true">
            </div>
        </div>
    </div>

    <div *ngIf="selectChest">
        <div class="row text-center mt-5">
            <div class="col">
                <img src='/assets/los-santos.png'>
            </div>
        </div>
        <div class="row row justify-content-center mt-5" *ngIf="!winProduct">
            <div class="col">
                <div class="row justify-content-center">
                    <div class="col-4">
                        <mat-card class="mat-elevation-z4">
                            <div class="row mb-5 mt-4">
                                <div class="col">
                                    <div class="wraper">
                                        <div class="arrowup"></div>
                                        <div class="arrowdown"></div>
                                        <div class="window" [@windowAnimation]="stateWindow">
                                            <ul class="list">
                                                <li *ngFor="let product of productListRoulette">
                                                    <img [src]=product.img>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-4 justify-content-center">
                                <div class="col-5">
                                    <button mat-raised-button color="primary" [disabled]="btnDisabled"
                                        class="w-100 mt-1" (click)="spinRoulette()">Abrir</button>
                                </div>
                            </div>
                        </mat-card>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col">
                        <ul class="list">
                            <li *ngFor="let product of productList" class="mr-3 mt-4">
                                <mat-card class="mat-elevation-z4" style="width: 260px">
                                    <div class="row">
                                        <div class="col">
                                            <img [src]=product.img
                                                style="display:block; margin:auto; margin-top: 2rem;">
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col pricedown">
                                            <div class="mat-h1" style="color: rgb(153, 153, 153);">{{product.name}}
                                            </div>
                                        </div>
                                    </div>
                                </mat-card>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center mt-5">
            <div class="col-2 text-center">
                <mat-card class="mat-elevation-z4" *ngIf="winProduct">
                    <div class="row">
                        <div class="col pricedown">
                            <div class="mat-h1" style="color: rgb(153, 153, 153);">Ganaste : </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <img [src]=winner.img style=" width: 130px; height: 130px;">
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col pricedown">
                            <div class="mat-h1" style="color: rgb(153, 153, 153);">{{winner.name}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <hr>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col pricedown">
                            <div class="mat-h3" style="color: rgb(153, 153, 153);">Fue añadido a inventario</div>
                        </div>
                    </div>
                    <div class="row mb-4 justify-content-center">
                        <div class="col">
                            <button mat-raised-button color="primary" class="w-100 mt-2" (click)="selectChest = false">Volver</button>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>