<div class="container-fluid">
    <div class="row text-center mt-5">
        <div class="col">
            <img src='/assets/los-santos.png'>
        </div>
    </div>
    <div class="row row justify-content-center mt-5">
        <div class="col">
            <div class="row justify-content-center">
                <div class="col-4">
                    <mat-card>
                        <div class="row mb-5 mt-4">
                            <div class="col">
                                <div class="wraper">
                                    <div class="arrowup"></div>
                                    <div class="arrowdown"></div>
                                    <div class="window" [@windowAnimation]="stateWindow">
                                        <ul class="list">
                                            <li *ngFor="let product of productListRoulette">
                                                <img [src]=product.img>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-4 justify-content-center">
                            <div class="col-5">
                                <button mat-raised-button color="primary" [disabled]="btnDisabled" class="w-100 mt-1"
                                    (click)="spinRoulette()">Abrir</button>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>
            <div class="row justify-content-center mt-5">
                <div class="col-2">
                    <mat-card *ngIf="winProduct">
                        <div class="row text-center">
                            <div class="col">
                                <img [src]=winner.img style=" width: 130px; height: 130px;">
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>
            <div class="row text-center mt-5">
                <div class="col">
                    <ul class="list">
                        <li *ngFor="let product of productList" class="mr-3 mt-4">
                            <mat-card style="width: 240px">
                                <div class="row">
                                    <div class="col">
                                        <img [src]=product.img style="display:block; margin:auto; margin-top: 2rem;">

                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col">
                                        <h2 class="card-title">{{product.name}}</h2>
                                    </div>
                                </div>
                            </mat-card>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>