
li {
    list-style: none;
    display: inline-block;
}

.window {
    overflow: hidden;
    position: relative;
    width: 25000px;
    height: 143px;
    right: 0px;
}

.wraper {
    background-image: url("/assets/mapa-los-santos.png");
    background-position: center;
    background-size: cover;
    position: relative;
    border: 1px solid gray;
    margin: auto;
    width: 408px;
    overflow-x: hidden;
    overflow-y: hidden;
    border-radius: 10px;
}

.list {
    position: relative;
    margin-left: 230;
    display: inline-block;
}

.list li {
    border: 4px solid transparent ;
}

.list li img {
    width: 130px;
    height: 130px;
}


.arrowup {
    position: absolute;
    bottom: 0;
    right: 200px;
    z-index: 1;
    width: 0;
    height: 0;
    border-bottom: 20px solid #7b1fa2;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.arrowdown {
    position: absolute;
    top: 0;
    right: 200px;
    z-index: 1;
    width: 0;
    height: 0;
    border-top: 20px solid #7b1fa2;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.img-tilte {
    height: 90px;
    width: auto;
}

.img-chest {
    width: 300px; 
    height: auto;
}

.hr-chest {
    border: 1px solid rgba(241, 241, 241, 0.562);
}

.span-text-chest {
    color: rgb(250, 59, 59);
}

.mat-h1-chest {
    color: rgb(153, 153, 153);
}

.mat-card-possibleItemsList {
    width: 260px;
}

.img-possibleItemsList {
    display:block; 
    margin:auto; 
    margin-top: 2rem;
}

.img-winer {
    width: 130px; 
    height: 130px;
}