<div class="container-fluid">
    <div class="row text-center mt-5">
        <div class="col">
            <h2>Bienvenido a la ruleta</h2>
        </div>
    </div>
    <div class="row row justify-content-center">
        <div class="col-8">
            <div class="card">
                <div class="card-body" style="background: rgb(124, 124, 124);">
                    <div class="row mt-5 mb-5">
                        <div class="col">
                            <div class="wraper">
                                <div class="arrowup"></div>
                                <div class="arrowdown"></div>
                                <div class="window" [@windowAnimation]="stateWindow">
                                    <ul class="list">
                                        <li *ngFor="let product of productListRoulette">
                                            <img [src]=product.img>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="winProduct">
                        <div class="col">
                            <img [src]=winner.img>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <ul class="list">
                                <li *ngFor="let product of productList" class="mr-3">
                                    <img [src]=product.img>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-5"></div>
                        <div class="col">
                            <button type="button" class="btn btn-info w-100 mt-5" [disabled]="btnDisabled" (click)="tirarRuletaAnimacion()">Tirar</button>
                        </div>
                        <div class="col-5"></div>
                    </div>
                </div>
              </div>
        </div>
    </div>
</div>