<div class="container">
    <div class="row text-center mt-5 mb-5">
        <div class="col">
            <img src='/assets/crear-mision.png' class="img-fluid">
        </div>
    </div>
    <mat-card class="mt-5 mat-elevation-z4" [formGroup]="missionForm">

        <div class="row mt-2">
            <div class="col pricedown text-center">
                <div class="mat-h1 mat-h1-color">Información de la misión</div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <hr>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Titulo</mat-label>
                    <mat-select required formControlName="title">
                        <mat-option *ngFor="let mc of getMissionTitle()" class="select-panel" [value]="mc">
                            {{mc}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Nivel de mision desde</mat-label>
                    <input matInput type="text" autocomplete="off" formControlName="levelMin">
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Nivel de mision hasta</mat-label>
                    <input matInput type="text" autocomplete="off" formControlName="levelMax">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Descripción</mat-label>
                    <textarea required autocomplete="off" formControlName="description" matInput>
                    </textarea>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Categoria</mat-label>
                    <mat-select required formControlName="category">
                        <mat-option *ngFor="let mc of getMissionCategory()" class="select-panel" [value]="mc">
                            {{mc}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Ganancia de la compania</mat-label>
                    <input matInput type="text" autocomplete="off" formControlName="companyProfit">
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Experiencia para el usuario</mat-label>
                    <input matInput type="text"  autocomplete="off"
                        formControlName="userExperience">
                </mat-form-field>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                <button color="accent" mat-flat-button class="w-100" [disabled]="!missionForm.valid"
                    (click)="generateNewMission()">Añadir</button>

            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <button color="accent" mat-flat-button class="w-100" routerLink="/admin/home">Volver al inicio</button>
            </div>
        </div>
    </mat-card>
</div>