<div class="container">
    <div class="row mt-5">
        <div class="col-6">
            <mat-card class="mat-elevation-z4 main-card">
                <h2>
                    Solicitudes
                </h2>
                <hr>
                <div class="row mb-4">
                    <div class="col">
                        <mat-accordion>
                            <mat-expansion-panel hideToggle>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Retiro de Escopeta - Emiliano Perrini
                                        <span style="font-size: 12px; color: grey; margin-left: 1rem;">
                                            20/03/2021 18:49
                                        </span>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <hr>
                                <div class="row">
                                    <div class="col">
                                        Emiliano Perrini quiere retirar una escopeta de su inventario.
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col text-right">
                                        Profit: <span style="color: red">-$5000</span>
                                    </div>
                                </div>
                                <div class="row mt-4 justify-content-center">
                                    <div class="col-8">
                                        <button color="primary" class="w-100" mat-raised-button mat-button>Marcar como entregado <mat-icon>done</mat-icon></button>
                                    </div>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col">
                        <mat-accordion>
                            <mat-expansion-panel hideToggle>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Entrega de 9mm - Valen Sesentayseis
                                        <span style="font-size: 12px; color: grey; margin-left: 1rem;">
                                            20/03/2021 23:11
                                        </span>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <hr>
                                <div class="row">
                                    <div class="col">
                                        Valen Sesentayseis quiere entregar una 9mm por la siguiente misión: <span style="color: rgb(135, 135, 241)">Consigue una 9mm y entregasela a algún líder.</span>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col text-right">
                                        Profit: <span style="color: green">$2000</span>
                                    </div>
                                </div>
                                <div class="row mt-4 justify-content-center">
                                    <div class="col-8">
                                        <button color="primary" class="w-100" mat-raised-button mat-button>Marcar como entregado <mat-icon>done</mat-icon></button>
                                    </div>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="col-6">
            <mat-card class="mat-elevation-z4 main-card">
                <h2>
                    Profit
                </h2>
                <hr>
            </mat-card>
        </div>
        
    </div>
</div>