<div class="screen">
    <div class="container" style="margin-top: 15rem;">
        <div class="row justify-center">
            <div class="col-3"></div>
            <div class="col">
                <div class="card login-card w-100">
                    <div class="card-body" [formGroup]="loginForm">
                        <div class="mat-h2 card-title text-center">Login</div>
                        <div class="card-subtitle mb-4 text-muted mt-1 text-center">Ingresa a tu cuenta con tu nombre y contraseña</div>
                        <hr>
                        <label class="mt-2" for="name">Nombre</label>
                        <input type="text" class="form-control" formControlName="user" id="name" autocomplete="off">
                        <label class="mt-3" for="password">Contraseña</label>
                        <input type="password" class="form-control mb-4" formControlName="pwd" id="password" autocomplete="off">
                        <hr>
                        <button class="btn btn-success w-100 mt-3" [disabled]="isLoading || !loginForm.valid" (click)="login()">
                            Ingresar
                        </button>
                        <mat-progress-bar *ngIf="isLoading" class="mt-2" mode="indeterminate" color="accent"></mat-progress-bar>
                    </div>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
</div>