.login-card {
    border: silver 1px solid;
    background-color: #333;
    // padding: 4rem;
    // background-image: url('/assets/xxx.webp');
    // background-position: center;
    // background-size: cover
}