<div class="screen">
    <div class="container" style="margin-top: 15rem;">
        <div class="row justify-center">
            <div class="col-3"></div>
            <div class="col">
                <div class="card login-card w-100">
                    <div class="card-body" [formGroup]="loginForm">
                        <h5 class="card-title text-center">Login</h5>
                        <h6 class="card-subtitle mb-4 text-muted mt-1 text-center">Ingresa a tu cuenta con tu nombre y contraseña</h6>
                        <hr>
                        <label class="mt-2" for="name">Nombre</label>
                        <input type="text" class="form-control" formControlName="user" id="name">
                        <label class="mt-3" for="password">Contraseña</label>
                        <input type="password" class="form-control mb-4" formControlName="pwd" id="password">
                        <hr>
                        <button class="btn btn-success w-100 mt-3" (click)="login()">Ingresar</button>
                    </div>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
</div>