<div class="container">
	<div class="row mt-4">
		<div class="col">
			<mat-card class="align-all-mat-card">
                <div class="ta-c mat-h1">
                    Crear nuevo usuario
                </div>
            </mat-card>
		</div>
	</div>
	<div class="row mt-2">
		<div class="col">
			<mat-card>
				<div class="row mt-3">
					<div class="col">
						<p class="mat-small">
							Crea el Client ID el cual se utilizará para reconocer al cliente dentro
							del sistema. El Client ID debe estar compuesto de 8 a 20 letras y/o números. No se permiten
							caractéres especiales ni espacios.
						</p>
					</div>
				</div>
			</mat-card>
		</div>
	</div>
</div>