<div class="container">
    <div class="row mt-2">
        <div class="col">
            <div class="row">
                <div class="col">
                    <mat-card class="align-all-mat-card">
                        <div class="ta-c mat-h1">
                            Crear nueva mision
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>

    <mat-card class="mt-2">
        <mat-card-content>
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Titulo</mat-label>
                        <input required matInput type="text" autocomplete="off">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Nivel de mision</mat-label>
                        <mat-select required>
                            <mat-option *ngFor="let lm of getLevelMissionKeys()" class="select-panel" [value]="lm">
                                {{lm}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Descripción</mat-label>
                        <textarea required autocomplete="off" matInput cdkTextareaAutosize cdkAutosizeMinRows="1"
                            cdkAutosizeMaxRows="20" class="description-box">
                        </textarea>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Días para cumplir la mision</mat-label>
                        <input matInput type="number" min='0' max='9999' autocomplete="off">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Categoria</mat-label>
                        <mat-select required>
                            <mat-option *ngFor="let mc of getMissionCategory()" class="select-panel" [value]="mc">
                                {{mc}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Ganancia de la compania</mat-label>
                        <input matInput type="number" min='0' max='9999' autocomplete="off">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Experiencia para el usuario</mat-label>
                        <input matInput type="number" min='0' max='9999' autocomplete="off">
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <div class="container-fluid action-buttons">
                <button color="primary" mat-flat-button mat-button>Cancelar</button>
                <button color="accent" mat-flat-button>Añadir</button>
            </div>
        </mat-card-actions>
    </mat-card>
</div>