<mat-toolbar class="mb-5" color="primary">
    <button mat-icon-button class="example-icon toolbar-btn favorite-icon mr-4" routerLink="/" matTooltip="Volver al inicio">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <span>Panel de administrador</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon toolbar-btn favorite-icon mr-4" matTooltip="Inicio">
        <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button class="example-icon toolbar-btn favorite-icon" matTooltip="Usuarios">
        <mat-icon>group</mat-icon>
    </button>
    <button mat-icon-button class="example-icon toolbar-btn favorite-icon" matTooltip="Registros de cajas">
        <mat-icon>dvr</mat-icon>
    </button>
    <button mat-icon-button class="example-icon toolbar-btn favorite-icon" matTooltip="Misiones">
        <mat-icon>business_center</mat-icon>
    </button>
    <button mat-icon-button class="example-icon toolbar-btn favorite-icon" matTooltip="Estadísticas">
        <mat-icon>leaderboard</mat-icon>
    </button>
    <button mat-icon-button class="example-icon toolbar-btn ml-4" matTooltip="Salir">
        <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>

<router-outlet></router-outlet>