<mat-toolbar class="mb-5" color="primary">
    <button mat-icon-button class="example-icon toolbar-btn favorite-icon mr-4" routerLink="/" matTooltip="Volver al inicio">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <span>Panel de administrador</span>
    <div class="text-center w-100">
        <div style="font-size: 18px"  matTooltip="Aparecer conectado para los demás">
            <span *ngIf="connectionStatus">Conectado</span>
            <span *ngIf="!connectionStatus">Desconectado</span>
            <mat-slide-toggle  class="ml-2" [(ngModel)]="connectionStatus" *ngIf="!loading" (click)="changeConnectionStatus()"></mat-slide-toggle>
        </div>
    </div>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon toolbar-btn favorite-icon mr-4" routerLink="/admin/home" matTooltip="Inicio">
        <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button class="example-icon toolbar-btn favorite-icon" matTooltip="Usuarios">
        <mat-icon>group</mat-icon>
    </button>
    <button mat-icon-button class="example-icon toolbar-btn favorite-icon" matTooltip="Registros">
        <mat-icon>leaderboard</mat-icon>
    </button>
    <button mat-icon-button class="example-icon toolbar-btn favorite-icon" routerLink="/admin/respect" matTooltip="Respeto">
        <mat-icon>thumbs_up_down</mat-icon>
    </button>
    <button mat-icon-button class="example-icon toolbar-btn favorite-icon" routerLink="/admin/experience" matTooltip="Experiencia">
        <mat-icon>auto_awesome</mat-icon>
    </button>
    <button mat-icon-button class="example-icon toolbar-btn favorite-icon" routerLink="/admin/items"  matTooltip="Cajas">
        <mat-icon>workspaces</mat-icon>
    </button>
    <button mat-icon-button class="example-icon toolbar-btn favorite-icon" routerLink="/admin/mission/add"  matTooltip="Misiones">
        <mat-icon>device_hub</mat-icon>
    </button>
    <button mat-icon-button class="example-icon toolbar-btn ml-4" matTooltip="Salir">
        <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>

<router-outlet></router-outlet>