<div class="spinner-border m-5" role="status" *ngIf="loading">
    <span class="sr-only">Loading...</span>
</div>

<div class="container-fluid" *ngIf="!loading">
    <div class="row">
        <div class="col">
        <div class="row text-center mt-5 mb-5">
            <div class="col">
                <img src='/assets/sistema-de-respeto.png' class="img-fluid">
            </div>
        </div>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-4">
            <mat-card class="mat-elevation-z4">
                <div class="row justify-content-center" *ngIf="listOfUser">
                    <div class="col">
                        <div class="row mt-2">
                            <div class="col pricedown text-center">
                                <div class="mat-h1 mat-h1-color">Usuarios de la banda</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <hr>
                            </div>
                        </div>
                        <div class="row mt-2" *ngFor="let user of listOfUser">
                            <div class="col">
                                <button mat-raised-button color="accent" class="w-100 mt-2" (click)="selectUser(user)">{{user.nameInGame}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
    <div class="row justify-content-center mt-5" *ngIf="userSelected">
        <div class="col-4">
            <mat-card class="mat-elevation-z4">
                <div class="row justify-content-center">
                    <div class="col">
                        <div class="row mt-2">
                            <div class="col pricedown text-center">
                                <div class="mat-h1 mat-h1-color">Respeto</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <hr>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col text-center">
                                <div class="mat-h2 mat-h1-color">{{userSelected.nameInGame}}</div>
                            </div>
                        </div>
                        <div class="row justify-content-center mt-4">
                            <div class="col-1">
                                <button mat-mini-fab color="accent" class="mt-2" (click)="modifyRespect(-3)"><b>-3</b></button>
                            </div>
                            <div class="col-1">
                                <button mat-mini-fab color="accent" class="mt-2" (click)="modifyRespect(-2)"><b>-2</b></button>
                            </div>
                            <div class="col-1">
                                <button mat-mini-fab color="accent" class="mt-2" (click)="modifyRespect(-1)"><b>-1</b></button>
                            </div>
                            <div class="col-4 ml-4 mr-4">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Respeto</mat-label>
                                    <input required matInput disabled type="text" autocomplete="off"
                                        [(ngModel)]="userSelected.respect">
                                </mat-form-field>
                            </div>
                            <div class="col-1">
                                <button mat-mini-fab color="primary" class="mt-2" (click)="modifyRespect(1)"><b>+1</b></button>
                            </div>
                            <div class="col-1">
                                <button mat-mini-fab color="primary" class="mt-2" (click)="modifyRespect(2)"><b>+2</b></button>
                            </div>
                            <div class="col-1">
                                <button mat-mini-fab color="primary" class="mt-2" (click)="modifyRespect(3)"><b>+3</b></button>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>
