.name {
    font-size: 18px;
}

.role-description {
    color: #f52346;
    font-weight: bold;
    font-size: 14px;
}

.profile-card {
    background: url('/assets/profilebg.jpg');
    background-size: cover;
    background-position: center;
}

.first-row-card {
    height: 100%;
}