<div class="spinner-border m-5" role="status" *ngIf="loading">
    <span class="sr-only">Loading...</span>
</div>

<div class="container" *ngIf="!loading">
    <div class="row mt-5">
        <div class="col-6">
            <mat-card class="mat-elevation-z4 main-card profile-card">
                <div class="row mt-4">
                    <div class="col text-center">
                        <span class="name">{{currentUser.name}} |</span>
                        <span class="role-description"> {{currentUser.ingameRole}}</span>
                    </div>
                    <div class="col">

                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-6">
                        Experiencia: {{currentUser.experience}}/{{currentUser.level.totalExperience}}
                    </div>
                    <div class="col-6 text-right">Nivel {{currentUser.level.level}}</div>
                </div>
                <div class="row mt-1">
                    <div class="col">
                        <mat-progress-bar mode="determinate" style="height: 10px; border-radius: 3px;" value="40" color="warn"></mat-progress-bar>
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="col-3">
            <mat-card class="mat-elevation-z4 main-card can-select" routerLink="/cases">
                <div class="row">
                    <div class="col">
                        Dinero total
                    </div>
                </div>
                <div class="row">
                    <div class="col pricedown">
                        <div class="mat-h1" style="color: rgb(4, 184, 4);">
                            {{currentUser.money}}
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row mt-3">
                    <div class="col text-center">
                        <div class="box-container">
                            <span [matBadge]="currentUser.casesLS">
                                <img  style="width: 50px; height: 50px" src="assets/otro-cofre-los-santos.png" alt="">
                            </span>
                            <span [matBadge]="currentUser.casesSF">
                                <img  style="width: 50px; height: 50px" src="assets/otro-cofre-san-fierro.png" alt="">
                            </span>
                            <span [matBadge]="currentUser.casesLV">
                                <img  style="width: 50px; height: 50px" src="assets/otro-cofre-las-venturas.png" alt="">
                            </span>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="col-3">
            <mat-card class="mat-elevation-z4 main-card can-select" routerLink="/inventory">
                Inventario
                <hr class="mt-3">
                <mat-grid-list cols="3" rowHeight="50px" *ngIf="listOfLastInventoryItems.length != 0">
                    <mat-grid-tile *ngFor="let item of listOfLastInventoryItems">
                        <img [src]=item.img style="width: 50px; height: 50px">

                    </mat-grid-tile>
                </mat-grid-list>
                <div class="text-center pt-3" *ngIf="listOfLastInventoryItems.length == 0">
                    No tienes nada en tu inventario.
                </div>
            </mat-card>
        </div>
    </div>  
    <div class="row mt-4">
        <div class="col-3">
            <mat-card class="mat-elevation-z4 main-card">
                Mis misiones completadas
                <hr class="mt-3">
                <div class="pricedown">
                    <div class="mat-h1 text-center">
                        {{currentUser.missionHistory.length}} <mat-icon style="color: grey">task_alt</mat-icon>
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="col-3">
            <mat-card class="mat-elevation-z4 main-card">
                Respeto total
                <hr class="mt-3">
                <div class="pricedown">
                    <div class="mat-h1 text-center">
                        {{currentUser.respect | respect}} <mat-icon style="color: grey">thumbs_up_down</mat-icon>
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="col-6">
            <mat-card class="mat-elevation-z4 main-card">
                Noticias
                <hr class="mt-3">
                
            </mat-card>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-6">
            <mat-card class="mat-elevation-z4 main-card">
                <div class="row">
                    <div class="col">
                        Ultimas misiones completadas
                    </div>
                </div>
                <hr>
                <div class="row">
                    <table mat-table [dataSource]="dataSource" class="w-100">

                        <!-- Name Column -->
                        <ng-container matColumnDef="mission">
                          <th mat-header-cell *matHeaderCellDef class="text-center"> Detalles </th>
                          <td mat-cell *matCellDef="let element"> {{element.person}} <b></b> <span style="color: rgb(187, 75, 75)">(Nivel {{element.level}})</span> cumplió una misión y ganó <span style="color: rgb(66, 178, 253)">{{element.experience}}</span> de experiencia. </td>
                        </ng-container>
                      
                        <tr mat-header-row *matHeaderRowDef="latestMissionsColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: latestMissionsColumns;"></tr>
                      </table>
                </div>
            </mat-card>
        </div>
        <div class="col-6">
            <mat-card class="mat-elevation-z4 main-card">
                <div class="row">
                    <div class="col">
                        Ultimas cajas abiertas
                    </div>
                </div>
                <hr>
                <div class="row">
                    <table mat-table [dataSource]="dataSource2" class="w-100">

                        <!-- Name Column -->
                        <ng-container matColumnDef="person">
                          <th mat-header-cell *matHeaderCellDef> Persona </th>
                          <td mat-cell *matCellDef="let element"> {{element.person}} </td>
                        </ng-container>
                      
                        <!-- Weight Column -->
                        <ng-container matColumnDef="case">
                          <th mat-header-cell *matHeaderCellDef> Caja </th>
                          <td mat-cell *matCellDef="let element"> {{element.case}} </td>
                        </ng-container>
                      
                        <!-- Symbol Column -->
                        <ng-container matColumnDef="winItem">
                          <th mat-header-cell class="text-center" *matHeaderCellDef> Item </th>
                          <td mat-cell class="text-center" *matCellDef="let element"> <img  style="width: 40px; height: 40px" [src]="element.winItem" alt=""> </td>
                        </ng-container>
                      
                        <tr mat-header-row *matHeaderRowDef="latestCasesColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: latestCasesColumns;"></tr>
                      </table>
                </div>
            </mat-card>
        </div>
    </div>  
    <div class="row mt-4">
        <div class="col-9">
            <mat-card class="mat-elevation-z4 main-card">
                <div class="row">
                    <div class="col" style="display: flex; align-items: center; justify-content: center">
                            <button mat-raised-button class="w-100" color="primary" (click)="logout()">Salir</button>
                    </div>
                    <div class="col-8" style="display: flex; align-items: center; justify-content: center">

                            <p style="color: grey; font-size: 12px; margin-bottom: 0;">
                                Para más ayuda e información visite nuestro Discord. Ante cualquier duda puede comunicarse con Ivana Rojas, Yaamil Foglia, Emaa Garcia, Nicolas Torner o Tusk Martinez.
                            </p>
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="col-3">
            <mat-card class="mat-elevation-z4 main-card can-select discord-card">
                <!-- https://discord.gg/dvrTkZGKAJ -->
            </mat-card>
        </div>
    </div>
    
</div>
