.name {
    font-size: 24px;
}

.role-description {
    color: #f52346;
    font-weight: bold;
    font-size: 14px;
}

.profile-card {
    background: url('/assets/profilebg.jpg');
    background-size: cover;
    background-position: center;
}

.main-card {
    height: 100%;
}

.discord-card {
    background: url('/assets/dc.jpg');
    background-size: cover;
    background-position: center;
}

.can-select {
    box-shadow: 0 0 0 0 grey;
    transition: box-shadow 10ms linear;
}

.can-select:hover {
    box-shadow: 0 0 1.5pt 1pt;
    cursor: pointer;
}

.box-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
}

.mat-progress-bar {
    height: 10px; border-radius: 3px;
}

.mission-description {
    display: flex;
    align-items: center;
}

.mission-text {
    color: grey; 
    margin-left: 1rem; 
    margin-right: .5rem;
}