<div class="container">
    <div class="row mt-4">
        <div class="col">
            <mat-card>
                <h1>
                    Gestión de Cajas
                </h1>
            </mat-card>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <mat-accordion>
                <mat-expansion-panel hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        Los Santos
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <hr>
                  <p *ngFor="let item of casesLS">
                      {{item.name}}
                  </p>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <mat-accordion>
                <mat-expansion-panel hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        San Fierro
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <hr>
                  <p *ngFor="let item of casesSF">
                      {{item.name}}
                  </p>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <mat-accordion>
                <mat-expansion-panel hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        Las Venturas
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <hr>
                  <p *ngFor="let item of casesLV">
                      {{item.name}}
                  </p>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>