@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@font-face {
    font-family: 'pricedown';
    src: url('/assets/pricedown.ttf')
}


html body {
    background-color: #333;
    color: whitesmoke;
    font-family: 'Poppins', sans-serif !important;
}
