@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
    background-color: #333;
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
