html body {
    background-color: #333;
    background: url('/assets/bg.png') no-repeat center center fixed;
    background-size: 100% 100%;
    color: whitesmoke;
    font-family: 'Poppins', sans-serif !important;
}
